@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

:root {
    --primary: #094b65;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}
/* header */
/* #header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#header .logo {
    color: var(--primary);
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    list-style: none;
    margin-left: 20px;
}

#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: var(--primary);
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
    background: var(--primary);
    color: #fff;
} */


.nav-list {
    margin: 30px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}

.nav-list img {
    max-width: 100%;
}

nav ul:not(.footer .footer-items){
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li:not(.footer .footer-items){
    font-size: 20px;
    list-style-type: none;
    margin-left: 3em;
    transition: .25s;
    opacity: .5;
}

.nav-link {
    transition: .25s;
    text-decoration: none;
}

nav li:hover {
    opacity: 1;
    transform: translateY(-15%);
}

.nav-text {
    font-weight: bolder;
    color: black;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--primary), transparent);
    z-index: 10;
}

section img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section #text {
    position: absolute;
    color: var(--primary);
    font-size: 10vw;
    text-align: center;
    line-height: .55em;
    font-family: 'Rancho', cursive;
    transform: translatey(-50%);
}

section #text span {
    font-size: .20em;
    letter-spacing: 2px;
    font-weight: 400;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: #fff;
    color: var(--primary);
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translatey(100px);
}

.sec {
    position: relative;
    padding: 100px;
    background: var(--primary);
}

.sec h2 {
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 20px;
    margin-top: 50px;
}

.sec p {
    font-size: 1em;
    color: #fff;
}

/* footer */
/* FOOTER */
.footer {
	width: 100%;
	background: #00121b;
	display: block;
 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 /* padding: 30px 10px; */
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 /* justify-content: center; */
 }

 #footer-2{
    margin-left: 300px;    
 }
.footer-items {
	width: 25%;
	padding:20px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}

ul {
	list-style: none;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.5px;	
 }

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}

ul li {
	margin: 10px 0;
	height: 25px;
}

li i {
	margin-right: 10px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 0;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
    margin: 0;
	padding: 10px;
	background: #00121b;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
    .footer-items {
        width: 50%;
	}
    #footer-2{
        margin-left: 0;
    }
}

/* for mobile screen view */

@media screen and (max-width: 680px) {
    .nav-list {
        width: 100%;
        display: block;
        margin-top: 50px;
        margin-left: 0;
        padding-left: 0;
    }
    nav li:not(.footer .footer-item){
        margin-left: 1em;
    }
    #header .logo{
        display: none;
    }
    /* #header ul{
        background-color: #f7f7f7;
    } */
    .footer-items {
        width: 100%;
        margin-left: 0;
	}
    #footer-2{
        margin-left: 0;
    }
}

/* you can toggle the media screen view accordingly by changing the (max-width: px) to your convenience */

/* Thanks to Computer Conversations */
footer {
    position: relative;
    /* padding: 0px 100px; */
    background: var(--primary);
}

footer a {
    text-decoration: none;
    color: #fff;
}